{% extends "home/layout.html" %}
{% load static %}
{% block content %}

<div id="lottie-bg"></div>
  <script>
    var animation = bodymovin.loadAnimation({
    container: document.getElementById('lottie-bg'), // required
    path: '/static/home/lottie.json', // required
    renderer: 'svg', // required
    loop: true, // optional
    autoplay: true, // optional
    name: "Demo Animation", // optional
  });
  </script>

<div class="jumbotron text-center">
  <p class="lead"></p>
    <h3>Welcome {{ user.name }}!</h3>
    <h4>Click on the link below to begin to play!</h4>
    

    <div class="text-center">
      
      <a class="btn btn-dark " href="{% url 'game:create' %}" >Create Lobby</a>
      <br>
      <br>
      <a class="btn btn-dark" href="{% url 'game:join' %}" >Join Lobby</a>
      <!--<h5>Rules and Synopsis of the game</h5>-->
    </div>
    
</div>
{% endblock %}