<!DOCTYPE html>
{% include "home/layout.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">
    <table class="table table-dark">
      <thead>
          <tr>
                <th>Name</th>
                <th>Points</th>
          </tr>
      </thead>
      <tbody>
        {% for k in data %}
            <tr>
                <td>{{k.name}}</td>
                <td>{{k.points}}</td>                  
            </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}