<!DOCTYPE html>
{% include "home/layout.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/leaderboard.css' %}">
{% block content %}
<br>
<h4 style="font-size:200%;text-align:center">Leaderboard</h4>
<br>
<div>
    <table>
      <thead>
          <tr>
                <th style="width:10%"></th>
                <th style="width:30%">Name</th>
                <th>Points</th>
          </tr>
      </thead>
      <tbody>
        {% for k in data %}
            <tr>
                <td style="width:10%"><img src="{{k.profile}}"></td>
                <td style="width:30%">{{k.name}}</td>
                <td>{{k.points}}</td>                  
            </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}