<!DOCTYPE html>
{% include "home/layout.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/profile.css' %}">
{% block content %}
{{ profile|json_script:"profile" }}
{{ points|json_script:"points" }}
<div class="jumbotron container-fluid" style="margin:auto;width:90%;text-align:center">
  <p class="lead" style="text-align:center"></p>
    <br><br><br>
    <img alt="Profile" style="width:200px" src="{%static profile %}">
    <br><br>
    <h4 style="font-size:300%">{% if user %}{{user}}{% endif %}</h4>
    <br>
    <p style="font-size:200%">Email: {% if email %}{{email}}{%endif%}</p>
    <p style="font-size:200%">Points: {{points}}</p><br>


    <h5>Change Profile Picture</h5>

    <div id="profile-buttons">
      <input alt="Human 1" id="home/human1.png" class="profile-image" type="image" onclick="set_avatar('home/human1.png')" src="{% static 'home/human1.png' %}">
      <input alt="Zombie 1" id="home/zombie1.png" class="profile-image" type="image" onclick="set_avatar('home/zombie1.png')" src="{% static 'home/zombie1.png' %}">
      <input alt="Human 2" id="home/human2.png" class="profile-image" type="image" onclick="set_avatar('home/human2.png')" src="{% static 'home/human2.png' %}">
      <input alt="Zombie 2" id="home/zombie2.png" class="profile-image" type="image" onclick="set_avatar('home/zombie2.png')" src="{% static 'home/zombie2.png' %}">
      <br>
      <input alt="Sans" id="home/human3.png" class="profile-image" type="image" onclick="set_avatar('home/human3.png')" src="{% static 'home/human3.png'%}">
      <input alt="Sans" id="home/zombie3.png" class="profile-image" type="image" onclick="set_avatar('home/zombie3.png')" src="{% static 'home/zombie3.png'%}">
      <input alt="Sans" id="home/sans_head.png" class="profile-image" type="image" onclick="set_avatar('home/sans_head.png')" src="{% static 'home/sans_head.png'%}">
    </div>

    <form method="POST" action="">
      {% csrf_token %}
      <input id="selected-profile-pic" type="hidden" value="" name="profile_pic">
      <input class="btn btn-dark btn-large btn-block" type="submit" value="Select">
    </form>

    <br>
    <div id="error" style="color:yellow;font-size:x-large"></div>

</div>
<script>
  // This script allows the user to change their profile picture from the profile page.

  const profile = JSON.parse(document.getElementById('profile').textContent);
  const points = parseInt(JSON.parse(document.getElementById('points').textContent));

  document.getElementById(profile).className = "selected-profile-image";
  document.getElementById('selected-profile-pic').value = profile;

  /**
   * The function checks if the user has enough points for the profile picture they are selecting
   * and it returns an error message if not. If they do, it highlights the profile picture they have
   * selected while dehighlighting the previous one. The then passes the pfp through the post request.
   */
  function set_avatar(avatar) {
    if (avatar == "home/human1.png" || avatar == "home/zombie1.png"){
      document.getElementById('error').innerText = " ";
    }

    if (avatar == "home/human2.png"){
      if (points < 200){
        document.getElementById('error').innerText = "You need 200 points for this avatar";
        return;
      } else{
        document.getElementById('error').innerText = " ";
      }
    }

    if (avatar == "home/zombie2.png"){
      if (points < 400){
        document.getElementById('error').innerText = "You need 400 points for this avatar";
        return;
      } else{
        document.getElementById('error').innerText = " ";
      }
    }

    if (avatar == "home/human3.png"){
      if (points < 800){
        document.getElementById('error').innerText = "You need 800 points for this avatar";
        return;
      } else{
        document.getElementById('error').innerText = " ";
      }
    }

    if (avatar == "home/zombie3.png"){
      if (points < 1400){
        document.getElementById('error').innerText = "You need 1400 points for this avatar";
        return;
      } else{
        document.getElementById('error').innerText = " ";
      }
    }

    if (avatar == "home/sans_head.png"){
      if (points < 2000){
        document.getElementById('error').innerText = "You need more determination";
        return;
      } else{
        document.getElementById('error').innerText = "Choosing this avatar fills you with determination ";
      }
    }

    // Gets all profile picture elements
    let buttons = document.getElementById('profile-buttons').children;

    // Dehighlights all elements
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].className = "profile-image";
    }

    // Highlights the selected element and makes it the hidden post value
    document.getElementById(avatar).className = "selected-profile-image";
    document.getElementById('selected-profile-pic').value = avatar;
  }
</script>
{% endblock %}
