<!DOCTYPE html>
{% include "home/layout.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/profile.css' %}">
{% block content %}
{{ profile|json_script:"profile" }}
<div class="jumbotron container-fluid" style="margin:auto;width:90%;text-align:center">
  <p class="lead" style="text-align:center"></p>
    <br>
    <img alt="Profile" style="width:200px" src="{%static profile %}">
    <br>
    <br>
    <h4 style="font-size:300%">{% if user %}{{user}}{% endif %}</h4>
    <br>
    <br><br><br>
    <p>Email: {% if email %}{{email}}{%endif%}</p>
    <p>Points: {{points}}</p><br>


    <h5>Change Profile Picture</h5>

    <div id="profile_buttons">
      <input id="home/Human1.png" class="profile_image" type="image" onclick="set_avatar('home/Human1.png')" src="{% static 'home/Human1.png' %}">
      <input id="home/Human2.png" class="profile_image" type="image" onclick="set_avatar('home/Human2.png')" src="{% static 'home/Human2.png' %}">
      <input id="home/Zombie1.png" class="profile_image" type="image" onclick="set_avatar('home/Zombie1.png')" src="{% static 'home/Zombie1.png' %}">
      <input id="home/Zombie2.png" class="profile_image" type="image" onclick="set_avatar('home/Zombie2.png')" src="{% static 'home/Zombie2.png' %}">
    </div>

    <form method="POST" action="">
      {% csrf_token %}
      <input id="selected_profile_pic" type="hidden" value="" name="profile_pic">
      <input class="btn btn-dark btn-large btn-block" type="submit" value="Select">
    </form>

</div>
<script>
  const profile = JSON.parse(document.getElementById('profile').textContent);

  document.getElementById(profile).className = "selected_profile_image";
  document.getElementById('selected_profile_pic').value = profile;

  function set_avatar(avatar) {

    let buttons = document.getElementById('profile_buttons').children;

    for (var i = 0; i < buttons.length; i++) {
      buttons[i].className = "profile_image";
    }

    document.getElementById(avatar).className = "selected_profile_image";
    document.getElementById('selected_profile_pic').value = avatar;

  }
</script>
{% endblock %}
