<!DOCTYPE html>
{% extends "welcome/layout.html" %}
{% load static %}
{% block content %}
{{ error_message|json_script:"error_message" }}
<div class="text-center font-monospace">
<br>
<h2>Sign up</h2>
<form method="POST" action="" name="signup-form" id="signup-form">
{% csrf_token%} 
    <label for="name"> Username</label><br>
    <input type="text" name="uname" id="uname" placeholder="xyzq" required><br>
    <label for="email">Email</label><br>
    <input type="email" name="email" id="email" placeholder="xyzq@exeter.ac.uk" required pattern=".+@exeter.ac.uk"/><br>
    <label for="password">Password</label><br>
    <input type="password" name="pass" id="pass" placeholder="**********" required><br>
    <label for="pass1">Confirm Password</label><br>
    <input type="password" name="pass1" id="pass1" placeholder="**********" required><br>
    <br>
    <input type="submit" class="btn btn-dark btn-primary btn-large text-center" value="Signup"><br>
    <br>
    <input class="form-check-input" type="checkbox" id="gridcheck" required>
    <label class="form-check-label" for="gridcheck">
      Agree to Terms and Conditions
    </label>
</form>
<form method="POST" action="{% url 'welcome:legal' %}" >
{%csrf_token%}
<input type="submit" class="btn btn-dark btn-primary btn-large text-center" value="Terms and Conditions"><br>
<input type="hidden" value="signup" name="origin">
</form>
<div id="error" style="color: red"></div>
</div>
<script>
    const error = JSON.parse(document.getElementById('error_message').textContent);

    document.getElementById('error').innerText = error;
</script>
{% endblock %}
