<!DOCTYPE html>
{% extends "welcome/layout.html" %}
{% load static %}
{% block content %}
{{ error_message|json_script:"error_message" }}
<div class="text-center font-monospace">
<br>
<br>
<h2>Sign up</h2>
<br>
<form method="POST" action="" name="signup-form" id="signup-form">
{% csrf_token%} 
    <label class="label" for="name"> Enter Username:</label>
    <input class="input" type="text" name="uname" id="uname" placeholder="Username" required>
    <br>
    <br>
    <label class="label" for="email">Enter Email:</label>
    <input class="input" type="email" name="email" id="email" placeholder="xyz@exeter.ac.uk" required pattern=".+@exeter.ac.uk"/>
    <br>
    <br>
    <label class="label" for="password">Enter Password:</label>
    <input class="input" type="password" name="pass" id="pass" placeholder="**********" required>
    <br>
    <br>
    <label class="label" for="pass1">Confirm Password:</label>
    <input class="input" type="password" name="pass1" id="pass1" placeholder="**********" required>
    <br>
    <br>
    <input type="submit" class="btn btn-dark btn-primary btn-large text-center" value="Signup"><br>
    <br>
    <input class="form-check-input" type="checkbox" id="gridcheck" required>
    <label class="form-check-label" for="gridcheck">
      Agree to Terms and Conditions
    </label>
</form>
<form method="POST" action="{% url 'welcome:legal' %}" >
{%csrf_token%}
<input type="submit" class="btn btn-dark btn-primary btn-large text-center" value="Terms and Conditions"><br>
<input type="hidden" value="signup" name="origin">
</form>
<div id="error" style="color: red"></div>
</div>
<script>
    // This script sets the error message
    const error = JSON.parse(document.getElementById('error_message').textContent);

    document.getElementById('error').innerText = error;
</script>
{% endblock %}
