<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>End</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'game/end.css' %}">
</head>
<body>
    <div class="container">
        <h1 id="winner"></h1>
        <h2 id="player-msg"></h2>
        <img id="imggg" alt="imgg" class="imggg" src="{%static 'game/zombie-dance.gif'%}">
        <br>
        <div class="center">
            <input id="return" class="return" type="button" value="Return">
        </div>
    </div>
    {{ lobby_code|json_script:"lobby-code" }}
    {{ result|json_script:"result" }}
    {{ seeker|json_script:"seeker"}}
    <script>
        const code = JSON.parse(document.getElementById('lobby-code').textContent);
        const result = JSON.parse(document.getElementById('result').textContent);
        const seeker = JSON.parse(document.getElementById('seeker').textContent);
        const player_type = seeker ? 'seeking!' : 'hiding!';
        document.title = code;

        switch(result){
            case 'seeker':
                document.getElementById('winner').innerText = "Zombies Win!"
                if (player_type == 'seeking!'){
                    document.getElementById('player-msg').innerText = "Congratulations!"
                } else {
                    document.getElementById('player-msg').innerText = "Try again next time..."
                    document.getElementById('player-msg').style.color = "#e60000"
                    document.getElementById('winner').style.color = "#e60000"
                }
                break;
            case 'hiders':
                document.getElementById('winner').innerText = "Humans Win!"
                var src = "{% get_static_prefix %}"
                var srcc = "game/villager-win.gif" 
                document.getElementById('imggg').src = src + srcc
                if (player_type == 'hiding!'){
                    document.getElementById('player-msg').innerText = "Congratulations!"
                    document.getElementById('player-msg').style.color = "#ffbf00"
                    document.getElementById('winner').style.color = "#ffbf00"
                } else {
                    document.getElementById('player-msg').innerText = "Try again next time..."
                    document.getElementById('player-msg').style.color = "#e60000"
                    document.getElementById('winner').style.color = "#e60000"
                }
                break;
        }

        document.querySelector('#return').onclick = function(e) {
            window.location= "../../../home/";
        };
    </script>
</body>
</html>
